aside.right-side
    section.content-header
        h1 Pending Requests
        ol.breadcrumb
            li
                router-link(to='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li Deliveries
            li Pending Requests
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        ul.nav.nav-tabs(role='tablist')
                            li.active(role='tablist')
                                a(href='#all' aria-controls='home' role='tab' data-toggle='tab') All
                    .box-body
                        div.tab-content
                            div.tab-pane.active#all(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && Object.keys(all).length === 0')
                                        | No Data Found!
                                    template(v-if='!dataLoad && Object.keys(all).length > 0')
                                        .row
                                            .col-md-3.col-md-offset-9
                                                .form-group
                                                    input.form-control(type='text' placeholder='Search' v-model='search_table1')
                                        table.table.table-hover(ref='table1')
                                            thead
                                                tr
                                                    th S.No#
                                                    th Date
                                                    th Origin
                                                    th Destination
                                                    th Distance
                                                    th Duration
                                                    th Require Vehicle
                                                    th Status
                                            tbody
                                                tr(v-for='(row, key, ind) in all')
                                                    td {{ ind+1 }}
                                                    td {{ row.req_data.createdAt }}
                                                    td {{ row.req_data.orgText }}
                                                    td {{ row.req_data.desText }}
                                                    td {{ row.req_data.disText }}
                                                    td {{ row.req_data.durText }}
                                                    td {{ row.req_data.vecType }}
                                                    td {{ row.pend_req_data.status }}
