aside.right-side
    section.content-header
        h1
            | Drivers&nbsp;
            small Drivers List
        ol.breadcrumb
            li
                router-link(to='/admin')
                    i.fa.fa-dashboard
                    |  Dashboard
            li.active Drivers
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        h3.box-title Drivers
                        .box-tools.text-right
                            router-link.btn.btn-sm.btn-success(to='/admin/drivers/add_driver' style='color:white')
                                i.fa.fa-plus
                    .box-body.table-responsive
                        div.text-center(v-if='dataLoad')
                            i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                        h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && dataToShow.length === 0')
                            | No Active Driver Found!
                        template(v-if='!dataLoad && dataToShow.length > 0')
                            .row
                                .col-md-3.col-md-offset-9
                                    .form-group
                                        input.form-control(type='text' placeholder='Search' v-model='search_table')
                            table.table.table-hover.table-click(ref='table')
                                thead
                                    tr
                                        th S.No#
                                        th Driver Name
                                        th Driver Email
                                        th Mobile#
                                        th CNIC#
                                        th Vehicle Type
                                        th Created Time
                                        th Action
                                        th status
                                tbody
                                    tr.open_row(v-for="(row, ind) in dataToShow" v-bind:data-url="'/admin/drivers/profile/'+row.key")
                                        td {{ pag+ind }}
                                        td {{ row.first_name }} {{ row.last_name }}
                                        td {{ row.email }}
                                        td {{ row.mob_no }}
                                        td {{ row.cnic_no }}
                                        td {{ row.vehicle }}
                                        td {{ row.time }}
                                        td
                                            button.btn.btn-success.btn-xs(v-on:click.prevet='active(row.key, ind, $event)' v-if='row.status === 0') Activate
                                            button.btn.btn-danger.btn-xs(v-on:click.prevet='deActive(row.key, ind, $event)' v-else) Deactivate

                                        td
                                            button.btn.btn-primary.btn-sm(type="button", v-on:click.prevent='block(row.key, ind, $event)' v-if='row.blocked === false') Block
                                            button.btn.btn-primary.btn-sm(type="button", v-on:click.prevent='unblock(row.key, ind, $event)' v-else ) UnBlock

                span.o_pager_value.center-block.pagination-centered.text-center {{counter}}
                    |  /
                    span.o_pager_limit(style="padding-right: 6px;") 59
                    span.btn-group.btn-group-sm
                        button.fa.fa-chevron-left.btn.btn-icon.o_pager_previous(v-if='isPrevAvaliable',v-on:click="btnPrev",style='background-color:white;border-color: #adadad;color: #4c4c4c;',type='button', accesskey='p')
                        button.fa.fa-chevron-right.btn.btn-icon.o_pager_next(v-if='isNextAvaliable', v-on:click="btnNext", style='background-color:white;border-color: #adadad;color: #4c4c4c;',type='button', accesskey='n')